<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top 10 Movie</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="static/css/styles.css" media="screen">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <a class="navbar-brand text-uppercase" href="">Movie Data</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Plots
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="visualizations/temp.html">Max Temperature</a>
                        <a class="dropdown-item" href="visualizations/humidity.html">Humidity</a>
                        <a class="dropdown-item" href="visualizations/cloudiness.html">Cloudiness</a>
                        <a class="dropdown-item" href="visualizations/wind.html">Wind Speed</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="top10.html">Factors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="movie_search.html">Movie Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="data.html">Data </a>
                </li>

            </ul>
        </div>
    </nav>


    <section class="container-fluid px-5 py-5">
        <div class ="row">
            <div class="col-sm-12 col-lg-6">
                <div class="card mb-3">
                    <div class="card-header bg-transparent">
                        <h1 class="card-title">Top 10 Movies</h1>
                    </div>
                
                    <div class="card-body text-justify pt-5 px-5">
                        <select id="selDataset" onchange="getData(this.value)">
                            <option value="profit">Profit</option>
                            <option value="rating">Rating</option>
                            <option value="budget">Budget</option>
                        </select>
                        <div id="bar"></div>
                    </div>
                </div>
            </div>

          <!-- Start of Visualizations imageNav Area -->
          <div class="col-sm-12 col-lg-6">
              <div class="card mb-3">
                  <div class="card-header bg transparent">
                      <h2 class="card-title">Rating VS Profit</h2>
                  </div>

                  <div class="card-body container">
                    <div id="myDiv"></div>
                    <script>
                        Plotly.d3.csv(
                            "https://raw.githubusercontent.com/RHaile/project-2/master/Resources/cleanedmovies.csv",
                            function(rows) {
                                var x = [],
                                  y = [],
                                  s = [],
                                  c = [],
                                  t = [];
                      
                                for (var i = 0; i < rows.length; i++) {
                                  row = rows[i];
                                  y.push(row["profit"]);
                                  x.push(row["vote_average"]);
                                  s.push(row["revenue"]);
                                  c.push(row["genre"]);
                                  t.push(row["title"]);
                                }
                      
                                Plotly.newPlot('myDiv', {
                                    data: [
                                        {
                                            type: "scatter",
                                            mode: "markers",
                                            x: x,
                                            y: y,
                                            text: t,
                                            marker: { size: s, sizeref: 1000000, sizemode: "area" },
                                            transforms: [{ type: "groupby", groups: c }],
                                            hovertemplate:
                                              "<b>%{text}</b><br><br>" +
                                              "%{yaxis.title.text}: %{y:$,.0f}<br>" +
                                              "%{xaxis.title.text}: %{x:.1f}<br>" +
                                              "<extra></extra>"
                                        }
                                    ],
                                    layout: {
                                        title: "Rating VS Profit",
                                        hovermode: "closest",
                                        hoverlabel: { bgcolor: "#e5756f" },
                                        legend: {orientation: 'h', y: -0.3},
                                        xaxis: {
                                            title: "Rating",
                                            zeroline: false
                                        },
                                        yaxis: {
                                            title: "Profit",
                                            zeroline: true
                                        }
                                    },
                                    config: { responsive: true }
                                });
                            }
                        );
                             
                        </script>
                    </div>
                </div>
            </div>
          </div>
        </div>
          <!-- End of the Visualizations imageNav Area -->
    </section>



    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
